body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.pokemon-card {
  display: flex;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  width: 600px; /* Adjust as needed */
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.pokemon-card img {
  width: 50%;
  height: auto;
}

.pokemon-details {
  padding: 20px;
  text-align: left;
  width: 50%;
}

.pokemon-details h2 {
  margin: 10px 0;
  font-size: 24px;
  color: #333;
}

.pokemon-details .types {
  margin-bottom: 15px;
}

.pokemon-details .type {
  display: inline-block;
  margin: 5px 5px 5px 0;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #eee;
  color: #555;
}

.pokemon-details .abilities,
.pokemon-details .height-weight {
  margin: 10px 0;
}

.pokemon-details .abilities span,
.pokemon-details .height-weight span {
  display: inline-block;
  margin: 5px 5px 5px 0;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #eee;
  color: #555;
}

.pokemon-details .label {
  font-weight: bold;
  color: #777;
}

.button-container {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 10px;
}

.button {
  background-color: #4caf50; /* Green background */
  border: none; /* Remove border */
  color: white; /* White text */
  padding: 15px 32px; /* Some padding */
  text-align: center; /* Center text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Inline-block element */
  font-size: 16px; /* Increase font size */
  margin: 4px 2px; /* Some margin */
  cursor: pointer; /* Pointer/hand icon on hover */
  border-radius: 8px; /* Rounded corners */
  transition: background-color 0.3s; /* Smooth transition */
}

.button:hover {
  background-color: #45a049; /* Darker green on hover */
}
